[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Molina (dmolina)
[access "refs/for/refs/*"]
	read = group user/Daniel Molina (dmolina)
	push = group user/Daniel Molina (dmolina)
	label-Code-Review = -2..+2 group user/Daniel Molina (dmolina)
	label-Verified = -1..+1 group user/Daniel Molina (dmolina)
	rebase = group user/Daniel Molina (dmolina)
	removeReviewer = group user/Daniel Molina (dmolina)
	submit = group user/Daniel Molina (dmolina)
[access "refs/heads/*"]
	read = group user/Daniel Molina (dmolina)
	create = group user/Daniel Molina (dmolina)
	push = +force group user/Daniel Molina (dmolina)
	pushMerge = group user/Daniel Molina (dmolina)
[access "refs/tags/*"]
	push = +force group user/Daniel Molina (dmolina)
	pushTag = group user/Daniel Molina (dmolina)
	pushSignedTag = group user/Daniel Molina (dmolina)
[project]
	description = Checking for teaching
